/* ------------------------------------------ Global -------------------------------------------- */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

/* ------------------------------------------ Decoration -------------------------------------------- */

.container {
  min-width: 375px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* ------------------------------------------ Header -------------------------------------------- */

.header {
  position: absolute;
  padding: 12px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: rgb(255, 255, 255);
  font-family: "Laila", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.header-list {
  display: none;
  margin-left: auto;
  gap: 69px;
}

.header-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
}

.header-link:hover,
.header-link:focus {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.837);
}

.header-button {
  background-color: transparent;
  margin-left: auto;
}

.header-button-svg {
  fill: #ffffff;
}

/* ------------------------------------------ Hero -------------------------------------------- */

.hero {
  background-image: url("../img/background-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 192px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 800;
  line-height: 1.36;
  margin-bottom: 27px;
}

.hero-description {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 1.37;
  max-width: 568px;
  text-align: center;
  margin-bottom: 39px;
}

.hero-button {
  color: rgb(19, 19, 19);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.37;

  padding: 8px 12px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgb(0, 166, 81);
}
*/

/* ------------------------------------------ Services -------------------------------------------- */

.services {
  padding: 88px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 43px;
}

.services-list {
  display: flex;
  flex-direction: column;
}

.services-list-item {
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 14px 18px 10px;
  border-radius: 15px;
  max-width: 370px;
  max-height: 232px;

  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-list-item:hover,
.services-list-item:focus {
  background-color: #f9f9f9;
}

.services-item-svg {
  margin-bottom: 15px;
}

.services-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.37;
  margin-bottom: 9px;
}

.services-item-text {
  font-size: 16px;
  line-height: 1.37;
}

/* ------------------------------------------ About -------------------------------------------- */

.about {
  padding: 81px 0 113px;
  background-color: #0058530d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/world-map-bg.webp");
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 118px;
  text-align: center;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.about-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  padding: 19px 45px;

  border-radius: 15px;
  background: rgb(255, 255, 255);
}

.about-item-svg {
  fill: #005f15;
  margin-bottom: 15px;
}

.about-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 8px;
}

.about-item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
  max-width: 130px;
  text-align: center;
}

/* ------------------------------------------ Ukraine -------------------------------------------- */

.ukraine {
  padding: 72px 0 52px;
}

.ukraine-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 8px;
}

.ukraine-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
  text-align: center;
  margin-bottom: 55px;
}

.ukraine-list {
  display: flex;
}

.ukraine-list-item {
  margin-bottom: 20px;
  padding-bottom: 24px;
  overflow: hidden;
  border-radius: 22px;

  box-shadow: 0px 1.67px 2.84px 0px rgba(0, 0, 0, 0),
    0px 7.35px 5.88px 0px rgba(0, 0, 0, 0.01),
    0px 18.05px 11.73px 0px rgba(0, 0, 0, 0.01),
    0px 34.76px 22.99px 0px rgba(0, 0, 0, 0.01),
    0px 58.49px 42.28px 0px rgba(0, 0, 0, 0.02),
    0px 90.24px 72.19px 0px rgba(0, 0, 0, 0.02);
  background: url(destination-1);
}

.ukraine-item-img {
  margin-bottom: 24px;
}

.ukraine-item-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.24;
  text-align: center;
}

/* ------------------------------------------ Italy -------------------------------------------- */

.italy {
  padding: 72px 0 52px;
}

.italy-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 8px;
}

.italy-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.37;
  text-align: center;
  margin-bottom: 55px;
}

.italy-list {
  display: flex;
}

.italy-list-item {
  margin-bottom: 20px;
  padding-bottom: 24px;
  overflow: hidden;
  border-radius: 22px;

  box-shadow: 0px 1.67px 2.84px 0px rgba(0, 0, 0, 0),
    0px 7.35px 5.88px 0px rgba(0, 0, 0, 0.01),
    0px 18.05px 11.73px 0px rgba(0, 0, 0, 0.01),
    0px 34.76px 22.99px 0px rgba(0, 0, 0, 0.01),
    0px 58.49px 42.28px 0px rgba(0, 0, 0, 0.02),
    0px 90.24px 72.19px 0px rgba(0, 0, 0, 0.02);
}

.italy-item-img {
  margin-bottom: 24px;
}

.italy-item-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.24;
  text-align: center;
}

/* ------------------------------------------ Reservation -------------------------------------------- */

.reservation {
  padding: 0 0 46px;
}

.form-background {
  background-color: #9fffec66;
  padding: 40px;
  border-radius: 69px 20px 20px 20px;
}

.reservation-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 8px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-form-label {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.37;
  margin-bottom: 15px;
}

.reservation-form-input {
  margin-top: 5px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 16px 22px 16px 46px;
  width: 100%;
  border: 1px solid #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reservation-form-input::placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.37;
}

.reservation-form-input:focus {
  outline: none;
  border: none;
}

.reservation-form-textarea {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 17px 22px 14px 46px;
  width: 100%;
  border: 1px solid #000000;
  resize: none;
  margin-top: 5px;
}

.reservation-form-textarea::placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.37;
}

.reservation-form-textarea:focus,
.reservation-form-textarea:active {
  outline: none;
  border: none;
}

.reservation-form-textarea-label {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.37;
}

.reservation-form-svg {
  position: absolute;
  left: 3.5vh;
  top: 5.5vh;
}

.reservation-form-description {
  color: #383838;
  /* font-size: 14px; */
  font-size: 10px;
  font-weight: 400;
  line-height: 1.37;
  margin: 0 auto;
  margin-bottom: 35px;
}

.reservation-form-button {
  display: flex;
  justify-content: center;
  /* padding: 22px 50px; */
  padding: 16px 50px;
  max-width: 182px;
  border-radius: 10px;
  background: rgb(0, 166, 81);
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;

  margin-bottom: 15px;
}

/* ------------------------------------------ Reviews -------------------------------------------- */

.reviews {
  padding: 62px 0 124px;
  background-color: #ecf1f0;
}

.reviews-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 59px;
}

.reviews-list-item {
  background-image: url("../img/reviews/reviews-1.webp");
  width: 1028px;
  height: 536px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
}

.reviews-list-item:first-child {
  background-image: url("../img/reviews/reviews-2.webp");
}

.reviews-list-item:last-child {
  background-image: url("../img/reviews/reviews-3.webp");
}

.reviews-item-container {
  border-radius: 18px;
  max-width: 328px;
  max-height: 250px;
  margin: 0 auto;
  padding: 40px 0 10px;

  position: relative;
  top: 347px;
  box-shadow: 0px 4px 59px 9px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}

.reviews-item-img {
  max-width: 80px;
  position: absolute;
  top: -25%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 50%;
}

.reviews-item-text {
  max-width: 541px;
  text-align: center;
  margin: 0 auto 24px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.reviews-item-name {
  margin: 0 auto;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}

/* ------------------------------------------ Footer -------------------------------------------- */

.footer {
  padding: 96px 0;
}

.footer-title {
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 auto 20px;
  text-align: center;
}

.footer-number {
  color: rgb(8, 8, 9);
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  margin-bottom: 30px;
}

.footer-number-list {
  margin-bottom: 30px;
}

.footer-number-item {
  border-radius: 15px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 10px;
}

.footer-number-link {
  color: rgb(94, 98, 130);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.24;
}

.footer-social {
  color: rgb(8, 8, 9);
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  margin-bottom: 30px;
}

.footer-social-list {
  margin-bottom: 30px;
}

.footer-social-item {
  border-radius: 15px;

  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  padding: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgb(94, 98, 130);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.24;
}

/* ------------------------------------------ Header menu -------------------------------------------- */

.header-menu {
  position: relative;
  top: -10px;
  right: -55%;
  padding: 10px 20px;
  display: flex;
  opacity: 0;
  transform: translateX(100%);
  flex-direction: column;
  background-color: transparent;
}

.header-menu-nav {
  display: flex;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-menu-link {
  color: rgb(19, 19, 19);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;

  padding: 8px 12px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
}

/* ------------------------------------------ Media queries -------------------------------------------- */
/* Tablet */

@media screen and (min-width: 768px) {
  /* decoration */
  .container {
    min-width: 768px;
    padding: 0 24px;
  }

  /* header */

  .header-logo {
    font-size: 24px;
  }

  .header-button-svg {
    width: 40px;
    height: 40px;
  }

  /* hero */

  .hero {
    padding: 200px 0 80px;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-description {
    font-size: 24px;
  }

  .hero-button {
    font-size: 18px;
    padding: 10px 16px;
  }

  /* services */

  .services-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .services-list-item {
    max-width: 330px;
  }

  /* about */

  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .about-list-item {
    min-height: 260px;
  }

  /* reservation */

  .reservation-title {
    font-size: 36px;
  }

  .reservation-form-label {
    font-size: 14px;
  }

  .reservation-form-input {
    padding: 18px 24px 18px 48px;
  }

  .reservation-form-input::placeholder {
    font-size: 14px;
  }

  .reservation-form-svg {
    top: 6.5vh;
  }

  .reservation-form-textarea {
    padding: 22px 24px 16px 48px;
  }

  .reservation-form-textarea::placeholder {
    font-size: 14px;
  }

  .reservation-form-description {
    font-size: 12px;
  }

  .reservation-form-button {
    font-size: 18px;
  }

  /* reviews */

  .reviews-item-container {
    max-width: 628px;
    padding: 50px 0 14px;
  }

  .reviews-item-text {
    font-size: 18px;
  }

  .reviews-item-name {
    font-size: 26px;
  }
}

/* Desktop */

@media screen and (min-width: 1023px) {
  /* decoration */
  .container {
    min-width: 1024px;
    padding: 0 32px;
  }

  /* header */

  .header {
    padding: 32px 0;
  }

  .header-nav {
    max-width: 125vh;
  }

  .header-logo {
    font-size: 32px;
  }

  .header-list {
    display: flex;
  }

  .header-button {
    display: none;
  }

  /* hero */

  .hero {
    padding: 232px 0;
  }

  .hero-title {
    font-size: 75px;
    margin-bottom: 57px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-button {
    font-size: 24px;
    padding: 13px 22px;
  }

  /* services */

  .services-title {
    margin-bottom: 63px;
  }

  .services-list {
    flex-wrap: nowrap;
  }

  .services-list-item {
    max-width: 300px;
  }

  /* about */

  .about-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* reservation */

  .reservation {
    padding: 0 0 96px;
  }

  .form-background {
    padding: 130px;
    border-radius: 129px 20px 20px 20px;
  }

  .reservation-title {
    font-size: 40px;
  }

  .reservation-form-label {
    font-size: 16px;
  }

  .reservation-form-input {
    padding: 20px 26px 20px 51px;
  }

  .reservation-form-input::placeholder {
    font-size: 16px;
  }

  .reservation-form-textarea {
    padding: 18px 26px 18px 51px;
  }

  .reservation-form-textarea::placeholder {
    font-size: 16px;
  }

  .reservation-form-textarea-label {
    font-size: 16px;
  }

  .reservation-form-description {
    font-size: 14px;
  }

  .reservation-form-button {
    padding: 22px 50px;
  }

  /* reviews */

  .reviews-item-container {
    padding: 80px 0 18px;
    top: 300px;
  }

  .reviews-item-img {
    max-width: 120px;
  }

  .reviews-item-text {
    font-size: 20px;
  }
}

/* ----------------------------- Animation ------------------------------ */

.open {
  animation: slideIn 0.5s ease forwards;
}

.close {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
